replicaCount: 1

image:
  repository: ghcr.io/bcgov/kiln-v2
  tag: latest
  pullPolicy: Always

service:
  type: ClusterIP
  port: 8080

resources:
  limits:
    memory: "1Gi"
    cpu: "250m"

nodeSelector: {}

tolerations: []

affinity: {}

fullnameOverride: ""
