replicaCount: 1

image:
  repository: ghcr.io/bcgov/kiln-v2
  tag: latest
  pullPolicy: Always

service:
  type: ClusterIP
  port: 8080

nodeSelector: {}

tolerations: []

affinity: {}

fullnameOverride: ""
